* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
}

.container {
  color: rgba(0, 0, 0, 0.85);
  width: 80%;

}

.profile-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 300px;
}

.profile-photo {
  border-radius: 50%;
}

.cust-name {
  text-transform: capitalize;
}

.email {
  color: rgb(124, 121, 121);
  padding: 8px 0;
}

.address {
  text-transform: capitalize;
}