* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
}

.container {
  color: rgba(0, 0, 0, 0.85);
  width: 90%;
  margin: 0 auto;

}

.profile-container {
  display: flex;
  flex-wrap: wrap;

}

.profile {
  width: 300px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile-photo {
  border-radius: 55% 80%;
  width: 65%;
  margin: 10px;
}

.cust-name {
  text-transform: capitalize;
}

.email {
  color: rgb(124, 121, 121);
  margin: 8px 0;
}

.address {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.dates {
  text-align: center;
}